fastapi
uvicorn
langchain
langchain-community
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres
chromadb
sentence-transformers
python-dotenv
pydantic
pydantic-settings
httpx
pypdf
langchain-groq
sqlalchemy
psycopg2-binary
pwdlib[argon2]
pyjwt