fastapi
slowapi
uvicorn
langchain
langchain-community
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres
pgvector
python-dotenv
pydantic[email]
pydantic-settings
httpx
pypdf
langchain-groq
sqlalchemy
psycopg2-binary
pwdlib[argon2]
pyjwt